
MyProject/.vs/MyProject/v16/Browse.VC.db
MyProject/.vs/MyProject/v16/ipch/AutoPCH/ba2598ddb903ed43/TANKPAWN.ipch
MyProject/Intermediate/Build/Win64/MyProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
